@CHARSET "UTF-8";

html {
	height: 1480px;
	width: 1024px;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

table.panel-form-container{
	height: 90%;
	width: 100%;
}

tr.panel-form-container-row{
	height: 100%;
	width: 100%;
	background-color: yellow;

}

td.panel-form-container-row-cell{
	height: 100%;
	background-color: teal;
}

div.highlighted
{
	background-color: yellow;
}

div.builder-west-side
{
	border: medium;
	border-style: solid;
	height: 100%;
}

div.builder-east-side{

	border: medium;
	border-style: solid;	
	height: 100%;
}

div.applicationArea
{
	width:1024px;
	height:100%;
	padding:10px;
	margin:0px;
	background-color: olive;
}

div#tabs
{
	height:95%;
	padding:10px;
}